<h1>Hotel List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotels;">
                <td>{{hotel.hotelID}}</td>
                <td><a [routerLink]="['/residencydetails', hotel.hotelID]">{{hotel.name}} </a> </td>
                <!-- <td><a [routerLink]="['/residencydetails',hyphenateUrlParams(hotel.name)]">{{hotel.name}} </a> </td> -->
                <td>{{hotel.price}}</td>
            </tr>
        </tbody>
    </table>
</div>